{% extends 'base.html.twig' %}

{% block title %}
ESV 2017
{% endblock %}

{% block body %}

    <h1>Informations de paiement</h1>

    {% if payments is defined %}
        <div class="paymentsTable">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Date de paiement</th>
                    <th>Montant</th>
                    <th>Nature</th>
                </tr>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.user.name }}</td>
                        <td>{{ payment.user.firstname }}</td>
                        <td>{{ payment.user.email }}</td>
                        {% if payment.user.address is not null %}
                            <td>{{ payment.user.address.address }}</td>
                            <td>{{ payment.user.address.postcode }}</td>
                            <td>{{ payment.user.address.city }}</td>
                        {% else %}
                            <td>NC</td>
                            <td>NC</td>
                            <td>NC</td>
                        {% endif %}
                        <td>{{ payment.paymentDate | date('d/m/Y') }}</td>
                        <td>{{ payment.amount }}</td>
                        <td>{{ payment.nature }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

{% endblock %}

{% block aside %}

    <h1>Importation des données</h1>

    {{ form(fileForm) }}

{% endblock%}